build/cert.txt
build/CMakeCache.txt
build/CMakeFiles
build/cmake_install.cmake
build/Makefile
build/v2x
*.exe
*.out
*.cmake
build
./build/CMakeCache.txt
./build/CMakeFiles
./build/Makefile
./build/apps
./build/bin
./build/cmake_install.cmake
./build/compile_commands.json
./build/data_decoding_dec_data.txt
./build/in_app_data.txt
./build/in_secured_data.txt
./build/lib
./build/signed.data
./build/signers
./build/src
--help
*.so
*.lib
